---
import { getFeaturedNews } from "../actions/featured_news";
import "../styles/tailwind.css";
import PrimaryButton from "./PrimaryButton.astro";
import Navigation from "./Navigation.astro";

const featuredNews = await getFeaturedNews();
const currentNews = featuredNews[0];
---

<header
  id="header"
  class="text-white text-center w-full bg-cover bg-top"
  style=`background-image: url(${currentNews.metadata.background_image.imgix_url}); background-size: cover;`
>
  <Navigation />
  <div class="relative h-[700px] overflow-hidden">
    <div class="absolute bottom-[-200px] left-10">
      <img
        src="/images/emily.png"
        alt="Emily the hero of the game"
        class="w-[600px]"
      />
    </div>
    <div
      class="absolute right-[200px] top-[100px] flex flex-col gap-4 justify-center items-center max-w-[400px]"
    >
      <h1
        id="news-title"
        class="text-white text-5xl font-arkhip"
        style="background: linear-gradient(192.29deg, #BDAB87 26.47%, #73603F 95.9%, #342812 155.97%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
      >
        {currentNews.title}
      </h1>
      <p
        id="news-description"
        class="text-gray-300 text-lg font-cagliostro my-4"
      >
        {currentNews.metadata.text}
      </p>
      <div class="flex flex-row gap-4">
        <PrimaryButton
          id="news-cta-button"
          href={currentNews.metadata.cta_url}
          className="w-min"
        >
          <div class="flex flex-row gap-2 items-center">
            <span id="news-cta-title">{currentNews.metadata.cta_title}</span>
            &rarr;
          </div>
        </PrimaryButton>
      </div>
    </div>
  </div>
</header>

<div class="relative" id="news">
  <div class="flex absolute top-[-130px] z-10 w-full gap-10 justify-center">
    {
      featuredNews.map((news: any, index: number) => (
        <img
          src={news.metadata.teaser_image.imgix_url}
          alt={news.title}
          class="h-[200px] shadow-sm object-cover hover:scale-105 cursor-pointer"
          style="filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.1));"
          data-news-index={index}
        />
      ))
    }
  </div>
</div>

<script define:vars={{ featuredNews }}>
  let currentNewsIndex = 0;

  function updateCurrentNews(index) {
    currentNewsIndex = index;
    const news = featuredNews[index];

    // Update header background
    const header = document.getElementById("header");
    header.style.backgroundImage = `url(${news.metadata.background_image.imgix_url})`;

    const title = document.getElementById("news-title");
    title.textContent = news.title;

    const description = document.getElementById("news-description");
    description.textContent = news.metadata.text;

    const ctaButton = document.getElementById("news-cta-button");
    ctaButton.href = news.metadata.cta_url;

    const ctaTitle = document.getElementById("news-cta-title");
    ctaTitle.textContent = news.metadata.cta_title;
  }

  document.querySelectorAll("#news img").forEach((img) => {
    img.addEventListener("click", (event) => {
      const index = parseInt(event.target.getAttribute("data-news-index"));
      updateCurrentNews(index);
    });
  });
</script>
